*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed",sans-serif;
    box-sizing: border-box;
}
body{
    background: #dbc2db;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.accordion{
    max-width: 600px;
    padding: 20px;
}
.accordion-item{
    border-bottom: 1px solid black;
    padding: 20px 0;
}
.item-header{
    padding: 14px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.title{
    font-size: 21px;
    font-weight: 400;
}

.icon{
    width: 35px;
    height: 35px;
    border: 2px solid white;
    border-radius: 60%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
    color: white;
}
.icon1{
    width: 35px;
    height: 35px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
    margin-left: 380px;
}

#down2{
    width: 35px;
    height: 35px;
    border: 2px solid ;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
    margin-left: 360px;
}

#down3{
    width: 35px;
    height: 35px;
    border: 2px solid ;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
    margin-left: 346px;
}

#down4{
    width: 35px;
    height: 35px;
    border: 2px solid ;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
    margin-left: 363px;
}

.text{
    color:black;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
}
.accordion-item.active .text{
    max-height: 600px;
    transition: .4s linear;
}