{% extends "base.html" %}
{% load static %}

{% block Title%}
  <h1>Story9</h1>
{% endblock Title%}

{% block contents%}
    <center>
        <h1>W E L C O M E</h1>
    </center>
{% endblock contents%}