
.accordion{
    max-width: 600px;
    padding: 20px;
}
.accordion-item{
    border-bottom: 1px solid black;
    padding: 20px 0;
}
.item-header{
    padding: 14px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.title{
    font-size: 21px;
    font-weight: 400;
}

.icon{
    width: 35px;
    height: 35px;
    border: 2px solid  black;
    border-radius: 60%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
    color:  black;
}
.icon1{
    width: 35px;
    height: 35px;
    color: black;
    border: 2px solid  black;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
}

#down1{
    margin-left: 339px;
}

#down2{
    margin-left: 319px;
}

#down3{
    margin-left: 307px;
}


.text{
    color:black;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
}
.accordion-item.active .text{
    max-height: 600px;
    transition: .4s linear;
}
