{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block Title%}
         
        {% endblock Title%}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% block link%}
         
    {% endblock link%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        font-family: "Roboto Condensed",sans-serif;
        box-sizing: border-box;
        color: black;
    }
    body{
        background: #dbc2db;
        /* display: flex; */
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
    }
</style>
<body>
  <nav class="navbar fixed-top navbar-expand-md navbar-dark nav-item" id="myNav">
    <a class="navbar-brand" href="/">&#8461;&#8469;</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/" title="">Home</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Story7/" title="">Story7</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="/Experiences" title="">Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Favourites" title="">Favourites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/story1" title="">Story 1</a>
        </li> -->
      </ul>
    </div>
  </nav>
    {% block contents%}

    {% endblock contents%}
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
</body>
</html>