{% extends "base.html" %}
{% load static %}

{% block Title%}
  <h1>Story7</h1>
{% endblock Title%}

{% block link%}
<link rel="stylesheet" href="{% static 'accordion.css' %}">
{% endblock link%}
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasna</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'accordion.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
</head> -->

{% block contents%}
<center>
  <h2 style="margin-bottom: 37px; ">Hello, My Name is Hasna!</h2><br>
    <div class="accordion">
        <div class="accordion-item">
          <div class="item-header" id="button1">
            <h1 class="title">Activities</h1>
            <div class="icon1" id="down1">&#8595;</div>
            <div class="icon">&#8593;</div>
          </div>
          <p class="text" id="body1">
            1. Wake up <br> 
            2. Study <br> 
            3. Do some tasks <br> 
            4. Watch movies <br> 
            5. Take a nap
          </p>
        </div>
        <div class="accordion-item">
          <div class="item-header" id="button2">
            <h1 class="title">Experiences</h1>
            <div class="icon1" id="down2">&#8595;</div>
            <div class="icon" id="up2">&#8593;</div>
          </div>
          <p class="text" id="body2">
            &#10023; Vice Event of Wisuda Genap Fasilkom UI <br>
            &#10023; Staff of Human Resource Development at BEM Fasilkom UI <br> 
            &#10023; Staff of Direct Marketing at COMPFEST UI 2020 <br>
            &#10023; Staff of Liaison Officer at Wisuda Ganjil Fasilkom UI <br> 
          </p>
        </div>
        <div class="accordion-item">
          <div class="item-header" id="button3">
            <h1 class="title">Achievements</h1>
            <div class="icon1" id="down3">&#8595;</div>
            <div class="icon" id="up3">&#8593;</div>
          </div>
          <p class="text" id="body3">
            &#x2726; 1st Place Lingua Debate Competition 2017 <br>
            &#x2726; 3rd Place Physics Competition at UHAMKA 2018 <br>
            &#x2726; 4th Place Indonesia Debate Competition 2018 <br>
          </p>
        </div>
      </div>
      </center>
      <script src="{% static 'accordion.js' %}"></script>
{% endblock contents%}
